#gameWord {
    letter-spacing: 0.5em;
    font-size: 2em;
    margin-bottom: 2em;
    padding: 1em;
    background-color: white;
}
#gameStrikes {
    margin-bottom: 2em;
    margin-top: 0.5em;
    font-size: 2em;
    background-color: white;
}
#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
}
#gameArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}
#textArea {
    display: flex;
}
#textButtons {
    display: flex;
    width: 400px;
    padding: 1em;
    flex-wrap: wrap;
    justify-content: center;
    background-color: gray;
}
#gameOver {
    height: 1em;
    font-size: 1.2em;
    margin-bottom: 1.5em;
}
#resetArea {
    display: flex;
    width: 275px;
    justify-content: center;
}
#reset {
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;;
}
.letterButton {
    padding: 1em;
    margin: 0.5em;
    font-weight: bold;
}
.rightChoice {
    background-color: greenyellow;
}
.wrongChoice {
    background-color: lightcoral;
}