#gameWord {
    letter-spacing: 0.5em;
    font-size: 2em;
    margin-bottom: 2em;
    padding: 1em;
    background-color: white;
    border-radius: 1em;
}
#gameStrikes {
    margin-bottom: 2em;
    margin-top: 0.5em;
    font-size: 2em;
    background-color: white;
    border-radius: 1em;
    border-style: solid;
    border-width: 0.05em;
}
body {
    display: flex;
    justify-content: center;
}
#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    width: 35em;
    border-radius: 1em;
    border-style: solid;
}
#gameArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;  
}
#textArea {
    display: flex;
}
#textButtons {
    display: flex;
    width: 25em;
    padding: 1em;
    flex-wrap: wrap;
    justify-content: center;
    background-color: gray;
    border-radius: 1em;
}
#gameOver {
    height: 1em;
    font-size: 1.5em;
    margin-bottom: 1.5em;
}
#resetArea {
    display: flex;
    width: 10em;
    justify-content: center;
}
#reset {
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;;
    border-radius: 0.5em;
}
.letterButton {
    padding: 1em;
    margin: 0.5em;
    width: 3em;
    height: 3.5em;
    font-weight: bold;
    border-radius: 0.5em;
}
.rightChoice {
    background-color: greenyellow;
}
.wrongChoice {
    background-color: lightcoral;
}